<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    <link rel="icon" type="img/svg" href="../static/img/RabbitIcon.svg" alt="icone do coelho">
    <title>Pontes//Portfólio</title>
  </head>
  
  <body>
    
    <i class="bi bi-list menu-mobile" ></i>

    <aside id="header">
        <section class="profile ">
          <img src="../static/img/FotoDePerfilPedro.png" alt="foto de perfil do Pedro">
          <h1>Pedro Henrique Pontes</h1>
          <div class="social-links mt-4 text-center">
            <a target="_blank" href="https://www.linkedin.com/in/pedro-henrique-b80784176/">
              <i class="bi bi-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/PedroPontesRay">
              <i class="bi bi-github"></i>
            </a>
          </div>
        </section>
        
        <nav id="navbar" class="nav-menu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i>
                Inicio</a>
          </li>
          <li>
            <a class="nav-link" href="#sobre"><i class="bi bi-file-person-fill"></i>Sobre</a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="bi bi-braces"></i> Habilidades</a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="bi bi-pen-fill"></i> Projetos</a>
          </li>
          <li>
            <a class="nav-link" href="#"><i class="bi bi-envelope-paper-fill"></i> Contatos</a>
          </li>
        </ul>
      </nav>
      
    </aside>
    
    <main id="main">
      
      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          
          <h2 class="text-white text-shadow">Pedro Henrique</h2>
          <span id="subtitle" class="text-white text-shadow">Programador Unity</span>   

        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end">
          
          <div id="arraste" class="d-flex align-items-center">
            
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Arraste para ver mais</a>
            
          </div>
          
        </div>
      </section>

    
      <section class="container" id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre mim</h2>
            <p>Olá! Meu nome é Pedro Henrique, e sou um programador apaixonado pela criação de jogos digitais com o Unity utilizando C#. Atualmente, estou cursando Jogos Digitais, buscando aprimorar minhas habilidades e conhecimentos nessa área. Além disso, dedico parte do meu tempo ao desenvolvimento de projetos pessoais de jogos, onde posso explorar minha criatividade e colocar em prática tudo o que aprendo. Estou animado com as possibilidades que o futuro reserva e ansioso para continuar crescendo como desenvolvedor de jogos.</p>
          </div>

        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/fotoperfil2.jpg" alt="foto de perfil do Pedro">
          </div>
          <div class="col-md-8">
            <h3>Estagiario QA na QUbyte interactive</h3>
            <p>Na QUbyte, como estagiário, tenho o privilégio de testar jogos de todas as categorias e avaliar se atendem aos requerimentos da PlayStation, Xbox e Nintendo. </p>

            <div class="row">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    <i class="bi bi-balloon-fill"></i> Idade: 
                    <span class="fw-lighter">22 anos</span>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-geo-alt-fill"></i> Cidade: 
                    <span class="fw-lighter">Sacomã Bairro em São Paulo</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <h2>Formações e experiencias</h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <i class="bi bi-joystick"></i>
                    <a target="_blank" id="linknodec" href="https://www.fiap.com.br/graduacao/tecnologo/jogos-digitais/">
                    Técnologo em Jogos digitais na FIAP</a> 
                    <br>
                    <span class="fw-lighter">2 anos de curso 2022/2023</span>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-joystick"></i>
                    <a target="_blank" id="linknodec" href="https://www.qubyteinteractive.com/site/">
                    Quality assurance na QUbyteinteractive</a> 
                    <br>
                    <span class="fw-lighter">fev/2023 atualmente</span>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-gear-fill"></i> 
                    Técnico em mecatronica no SENAI
                    <br>
                    <span class="fw-lighter">2 anos de curso 2016/2018</span> 
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-cpu-fill"></i>
                    Técnico em Montagem e manutenção de microcontroladores no SENAI
                    <br>
                    <span class="fw-lighter">3 meses de curso outubro de 2018/ dezembro de 2018</span>
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-pc-display-horizontal" href=""></i>
                    <a target="_blank" id="linknodec" href="https://www.smartconecta.com.br">
                      Técnico de informatica na Smart Conecta</a> 
                    <br>
                    <span class="fw-lighter">3 anos de trabalho 2019/2022</span>
                  </li>
                  
                </ul>
              </div>
            </div>


          </div>
        </div>

      </section>
      
    </main>
    
    <footer>
      
    </footer>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

  <script src="./static/script.js"></script>
</html>
