:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --header-bg: #333333;
    --header-text: #ffffff;
    --link-color: #0077cc;
    --linedivider-color: #ff0000;
}

[data-theme="dark"] {
    --background-color: #1a1a1a;
    --text-color: #f5f5f5;
    --header-bg: #111111;
    --header-text: #f5f5f5;
    --card-text: #ffffff;
    --link-color: #66b3ff;
    --linedivider-color: #ffffff;
}
[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-bg: #111111;
    --header-text: #000000;
    --card-text: #ffffff;
    --link-color: #66b3ff;
    --linedivider-color: #000000;
}

a {
    color: var(--link-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Estilos para o Header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os itens do menu */
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: var(--header-text);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--link-color);
}

/* Estilo para o botão "Contato" */
header nav ul li a.btn-contact {
    background-color: var(--link-color);
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a.btn-contact:hover {
    background-color: #005bb5; /* Cor mais escura no hover */
}

/* Ajuste para o botão de alternância de tema */
#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--header-text);
}

header nav ul li a.btn-contact {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
}
header nav ul li a.btn-contact:hover {
    border-color: #fff;
}

/*HEADER*/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/*Intro*/
/* Estilos para a seção Início */
.intro {
    text-align: center;
    padding: 50px 0;
}

.intro-image img {
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.intro-cards {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
}

.intro-cards .card {
    background-color: var(--header-bg);
    color: var(--card-text);
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intro-cards .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/*End intro*/

/* Estilos para a seção Habilidades */
.skills {
    padding: 50px 0;
}

.skills h2 {
    text-align: center;
    margin-bottom: 40px;
}

.skills-grid {
    display: flex;
    gap: 40px; /* Espaçamento entre as colunas */
}

.column {
    flex: 1; /* Cada coluna ocupa metade do espaço */
}

.about-me h3, .contact-links h3, .hard-skills h3, .soft-skills h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.about-me p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}

.contact .container {
    max-width: 1200px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 20px;
}

.contact h2 {
    text-align: left; /* Alinha o título à esquerda */
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--text-color);
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(3, auto); /* 3 linhas */
    gap: 15px; /* Espaçamento entre os itens */
    text-align: left; /* Alinha o texto à esquerda */
}

.contact-grid a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    position: relative;
    transition: color 0.3s ease;
}



.contact-grid a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--linedivider-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.contact-grid a:hover::after {
    transform: scaleX(1);
}

.contact-links ul li {
    margin-bottom: 10px;
}

.contact-links ul li a {
    color: var(--card-text);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.contact-links ul li a:hover {
    color: var(--header-bg);
}

.software-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaçamento entre os ícones */
}

.software-icons img {
    width: 50px; /* Tamanho dos ícones */
    height: 50px;
    transition: transform 0.3s ease;
}

.software-icons img:hover {
    transform: scale(1.1); /* Efeito de zoom no hover */
}

.soft-skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card {
    background-color: var(--header-bg);
    color: var(--card-text);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block; /* Faz o card se adaptar ao conteúdo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/*End Habilidades*/

.custom-divider {
    height: 1px; /* Espessura da linha */
    background-color: var(--linedivider-color); /* Cor da linha */
    margin: 1px auto; /* Margem superior e inferior */
    width: 80%; /* Largura da linha */
}

.vertical-divider {
    width: 2px; /* Espessura da linha */
    background-color: var(--linedivider-color); /* Cor da linha */
    margin: 0 20px; /* Espaçamento entre as colunas */
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.skills, .projects, .shaders {
    padding: 50px 0;
}

.skills h2, .projects h2, .shaders h2 {
    text-align: center;
    margin-bottom: 40px;
}

.hard-skills, .soft-skills {
    margin-bottom: 40px;
}

.project, .shader-card {
    margin-bottom: 40px;
    text-align: center;
}

.project img, .shader-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
}